<% @todo_lists.each do |todo_list| %>
  <div class="index_row clearfix">
    <h2 class="todo_list_title"><%= link_to todo_list.title, todo_list %></h2>
    <p class="todo_list_sub_title"><%= todo_list.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "Add To Do", new_todo_list_path %> 
</div> 

<p>Lorem ipsum dolor sit amet, qui ex voluptua appellantur accommodare. Eu verear hendrerit signiferumque vel. Cum inciderint signiferumque in, sed eripuit tincidunt ad. Vel cu eruditi alienum intellegebat, per choro discere an. Vis at illud debitis volumus, usu no vero iuvaret neglegentur.

Ad cum moderatius eloquentiam, esse putent per ut. Nam in dicant regione praesent. Modo possim appellantur an eos, eos quas noster ea. Ex mei facete luptatum scribentur, qui tollit inermis dolores ei, feugiat sapientem corrumpit an pri. Amet agam his te, id mea tritani postulant, luptatum consetetur te mel. Modus nihil signiferumque te his, vis tantas quaestio delicata ei.</p>